$border-radius: 5px;
$border-radius-small: 2px;
$transition-time: 0.3s;
$transition-easing: ease-out;

/* Color palette */
$white: #FFF;
$black: #000;
$yellow: #FFB40C;
$blue: #3AC5F6;
$blue-hover: #2BAAD8;
$grey1: #353535;
$grey2: #CCCCCC;
$grey3: #F5F5F5;
$grey4: #777;

$font-bitter: 'Bitter', serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-icon: 'surf';
